body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #456882;
}

.profile {
    text-align: center;
    padding: 20px; 
    color: #E3E3E3;
}

.profile img {
    width: 170px;        
    height: 170px;       
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    animation: float 4s ease-in-out infinite;
}

.profile img:hover {
    content: url("img/cat.jpeg");
}

/* ngambang nih */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.card {
    background: #E3E3E3;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

.card h2 {
    margin-top: 0;
}

ul {
    padding-left: 18px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px;
    margin-top: 10px;
}

.project-item {
    text-align: center;
}

.project-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* zoom */
.project-item img:hover {
    transform: scale(1.04);
}

.project-item p {
    margin-top: 6px;
    font-size: 14px;
    color: #0d0d0d;
}

footer {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 14px;
    background-color: #0C2B4E;
}

